@use '@angular/material' as mat;
@include mat.core();

$theme-azure-blue-light: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    density: (
      scale: 0,
    ),
  )
);

html {
  @include mat.all-component-themes($theme-azure-blue-light);
}

@include mat.color-variants-backwards-compatibility($theme-azure-blue-light);
@include mat.typography-hierarchy($theme-azure-blue-light);
